.body_backgorund 
{
    background-image:url('hOye.gif');
    background-position:center;
    background-size:cover;
    background-repeat: repeat;
}
#myCanvas
{
border-width: 10px;
background-color: aliceblue;
border-style: outset;
border-color: aquamarine;


    
}

#button{
    text-decoration: dashed;
    font-family: Algerian;
    color:blanchedalmond;
}